<main [ngSwitch]="componentState" class="p-4">
  <div *ngSwitchCase="'loaded'">
    <button [routerLink]="['/events', 'new']" class="button is-primary is-outlined is-fullwidth mb-4">
      Dodaj dogodek
    </button>

    <nav aria-label="pagination" class="pagination" role="navigation">
      <ul class="pagination-list">
        <li *ngFor="let page of getPagesForPagination()">
          <a (click)="getEvents(page)" [ngClass]="{'is-current': page === currentPage}"
             class="pagination-link">{{page}}</a>
        </li>
      </ul>
    </nav>

    <div *ngFor="let event of events" class="mb-3 box">
      <div>
        <div style="display: flex; justify-content: space-between; align-items: flex-start">
          <h1 class="title is-3">{{event.eventName}}</h1>
          <div class="buttons">
            <button [routerLink]="['/events', event.id]" class="button is-warning">
              Uredi
            </button>
          </div>
        </div>
        <div>
          Lokacija: <b>{{event.locationName}}</b>
        </div>
        <div>
          Datum začetka: <b>{{event.startTime | date : 'dd. MM. YYYY HH:mm'}}</b>
        </div>
        <div>
          Cena: <b>{{event.fee | currency : 'EUR'}}</b>
        </div>
        <div>
          Opis: <b>{{event.description}}</b>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'loading'">
    Nalagam
  </div>
  <div *ngSwitchCase="'error'">
    Napaka pri pridobivanju podatkov
  </div>
</main>
