<main class="p-4">
  <form [formGroup]="eventFormGroup" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Event id: {{event?.id}}</label>
    </div>

    <div class="field">
      <label class="label">Ime dogodka</label>
      <div class="control">
        <input class="input is-disabled" formControlName="eventName">
      </div>
    </div>

    <div class="field">
      <label class="label">Opis</label>
      <div class="control">
        <textarea class="input textarea is-disabled" formControlName="description"></textarea>
      </div>
    </div>

    <div class="field">
      <label class="label">Opis ekipe</label>
      <div class="control">
        <textarea class="input textarea is-disabled" formControlName="teamDescription"></textarea>
      </div>
    </div>

    <div class="field">
      <label class="label">Začetni čas</label>
      <div class="control">
        <input class="input is-disabled" type="datetime-local" formControlName="startTime">
      </div>
    </div>

    <div class="field">
      <label class="label">Cena dogodka</label>
      <div class="control">
        <input class="input is-disabled" type="number" formControlName="fee">
      </div>
    </div>

    <h2 class="subtitle is-3">Lokacija dokodka</h2>
    <div class="field">
      <label class="label">Ime lokacije</label>
      <div class="control">
        <input class="input is-disabled" type="text" formControlName="locationName">
      </div>
    </div>

    <button type="submit" class="button is-fullwidth is-primary mt-6 mb-6">Shrani dogodek</button>
  </form>


</main>
