<main class="p-4">
  <form *ngIf="componentState === 'loaded' && dormState === 'loaded'" (ngSubmit)="onSubmit()" [formGroup]="participantFormGroup">
    <div class="field">
      <label class="label">Participant id: {{participant?.id}}</label>
    </div>

    <div class="field">
      <label class="label">Ime in priimek</label>
      <div class="control">
        <input class="input is-disabled" formControlName="name">
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input is-disabled" formControlName="email"/>
      </div>
    </div>

    <div class="field">
      <label class="label">Telefon</label>
      <div class="control">
        <input class="input is-disabled" formControlName="phone"/>
      </div>
    </div>

    <h2 class="subtitle is-3">Naslov</h2>
    <div class="field">
      <label class="label">Ulica in hišna številka</label>
      <div class="control">
        <input class="input is-disabled" formControlName="addressLine1"/>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input class="input is-disabled" formControlName="addressLine2"/>
      </div>
    </div>

    <div class="field">
      <label class="label">Mesto</label>
      <div class="control">
        <input class="input is-disabled" formControlName="addressCity"/>
      </div>
    </div>

    <div class="field">
      <label class="label">Poštna številka</label>
      <div class="control">
        <input class="input is-disabled" formControlName="addressPostalCode"/>
      </div>
    </div>

    <h2 class="subtitle is-3">Dom</h2>
    <div class="field">
      <label class="label">Ime doma</label>
      <div class="control">
        <input class="input is-disabled" [value]="selectedDorm?.dormName">
      </div>

      <div style="max-height: 20vh; overflow-x: scroll">
        <button *ngFor="let dorm of dorms" type="button" (click)="selectedDorm = dorm" class="button">
          {{dorm.dormName}}
        </button>
      </div>
    </div>

    <button class="button is-fullwidth is-primary mt-6 mb-6" type="submit">Shrani dogodek</button>
  </form>


</main>
